@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
	글꼴
*/

body {
  font-family: "Open Sans", "Nanum Gothic", sans-serif;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

p {
  font-size: 1em;
}

/* 스크롤 바 숨김 */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

a,
a:link,
a:visited {
  color: azure;
  text-decoration: none;
}

@charset "UTF-8";

.bible_bg {
  width: 100%;
  height: 100%;
  background-color: rgb(250, 247, 52);
  background: url("/clouds.3e2d0c4a.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation: moveBackground 60s linear infinite;
  /* Safari and Chrome: */
  -webkit-animation: moveBackground 60s linear infinite;
}
@keyframes moveBackground {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 100%;
  }
}
@-webkit-keyframes moveBackground {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 100%;
  }
}

.bible-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  color: #fff;
  font-family: "Helvetica";
  display: flex;
  flex-direction: column;
}

.bible_text {
  font-family: "Helvetica";
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  text-align: center;
  color: #fff;
  text-shadow: 5px 5px #0053ff;
  font-size: 4vw;
}

.bible_text p:hover {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px, 0 0 40px rgb(255, 196, 0),
    0 0 150px rgb(245, 248, 42);
}

@charset "UTF-8";

/*Keyframes*/
@keyframes rain_effect {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 400px 800px, 300px 300px, 200px 200px;
    background-color: #ff69b4;
  }
  100% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-color: #f8c8dc;
  }
}

@-moz-keyframes rain_effect {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 400px 800px, 300px 300px, 200px 200px;
    background-color: #ff69b4;
  }
  100% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-color: #f8c8dc;
  }
}

@-webkit-keyframes rain_effect {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 400px 800px, 300px 300px, 200px 200px;
    background-color: #ff69b4;
  }
  100% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-color: #f8c8dc;
  }
}

@-ms-keyframes rain_effect {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 400px 800px, 300px 300px, 200px 200px;
    background-color: #ff69b4;
  }
  100% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-color: #f8c8dc;
  }
}

.my_container {
  background-color: #f8c8dc;
  background-image: url("/lemon_big.9baac62d.png"),
    url("/leaf.9bd9c208.png"), url("/lemon_small.93589e81.png");
  animation: rain_effect 40s linear infinite;
  -webkit-animation: rain_effect 40s linear infinite;
  -moz-animation: rain_effect 40s linear infinite;
  -ms-animation: rain_effect 40s linear infinite;
}

.my_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  color: #fff;
  text-shadow: 5px 5px #0053ff;
}

.my_text a:nth-child(odd) {
  margin-bottom: 38px;
}

.my_text h1 {
  font-size: 5em;
}

.my_text p {
  font-size: 3em;
}

.my_text span {
  font-size: 4em;
}

.my_text a,
.my_text a:link,
.my_text a:visited {
  font-size: 4em;
  font-weight: 900;
}

/* 사용시 출처를 남겨주세요 : https://codemasterkimc.tistory.com/22?category=955058 [김씨의 코딩 스토리] */


/*# sourceMappingURL=/css.967bad95.css.map */