@charset "UTF-8";
@import url("./main.css");
@import url("./bible.css");

/*Keyframes*/
@keyframes rain_effect {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 400px 800px, 300px 300px, 200px 200px;
    background-color: #ff69b4;
  }
  100% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-color: #f8c8dc;
  }
}

@-moz-keyframes rain_effect {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 400px 800px, 300px 300px, 200px 200px;
    background-color: #ff69b4;
  }
  100% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-color: #f8c8dc;
  }
}

@-webkit-keyframes rain_effect {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 400px 800px, 300px 300px, 200px 200px;
    background-color: #ff69b4;
  }
  100% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-color: #f8c8dc;
  }
}

@-ms-keyframes rain_effect {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 400px 800px, 300px 300px, 200px 200px;
    background-color: #ff69b4;
  }
  100% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-color: #f8c8dc;
  }
}

.my_container {
  background-color: #f8c8dc;
  background-image: url("../img/index/lemon_big.png"),
    url("../img/index/leaf.png"), url("../img/index/lemon_small.png");
  animation: rain_effect 40s linear infinite;
  -webkit-animation: rain_effect 40s linear infinite;
  -moz-animation: rain_effect 40s linear infinite;
  -ms-animation: rain_effect 40s linear infinite;
}

.my_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  color: #fff;
  text-shadow: 5px 5px #0053ff;
}

.my_text a:nth-child(odd) {
  margin-bottom: 38px;
}

.my_text h1 {
  font-size: 5em;
}

.my_text p {
  font-size: 3em;
}

.my_text span {
  font-size: 4em;
}

.my_text a,
.my_text a:link,
.my_text a:visited {
  color: azure;
  text-decoration: none;
  font-size: 4em;
  font-weight: 900;
}

/* 사용시 출처를 남겨주세요 : https://codemasterkimc.tistory.com/22?category=955058 [김씨의 코딩 스토리] */
