@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
	글꼴
*/

body {
  font-family: "Open Sans", "Nanum Gothic", sans-serif;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

p {
  font-size: 1em;
}

/* 스크롤 바 숨김 */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

a,
a:link,
a:visited {
  color: azure;
  text-decoration: none;
}

/* 마우스 호버시 커지는 효과 */
.grow {
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.grow:hover,
.grow:focus {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.grow:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
